@import "compass/reset";
@import "compass/css3";
@import "icon.scss";

$text-blue:	#6D95B6;
$text-color: #58575F;
$body-color: #F2EEE8;
$gray-text-color: #C6C1B0;

$d_gray:#CCCCCC;
$theme_blue:#81A9CA;
$theme_white: #FFFAF2;


a {
	text-decoration: none;
}


body {
	font-family: 'Roboto', sans-serif;
	font-size: 62.5%;
	text-align: center;
	color: $text-color;
 	background-color: $body-color;

 	header {
 		position: fixed;
 		top:0;
 		left: 0;
 		width: 100%;
 		height: 8em;
 		background-color: $theme_white;
 		box-shadow: 2px 2px 1px $d_gray;
 		
 		
 		nav, div {
 			display: inline-block;
 			vertical-align: top;
 		}

 		nav {
 			text-align: left;
 			width: 24%;
 			font-size: 2em;
 			.write{
 				border-right: 1px solid $d_gray;
 				padding:1em;
 			}	
 			a {
 				display: inline-block;
 				vertical-align: top;
 				color:$text-color;
 				border-radius: 50%;
 				border: 1px solid $d_gray;
 				box-sizing:border-box;
 				padding:10px;
 				margin:19px 0 19px 19px;
 			}	
			.icon-feather {
				color:$theme_white;
				background-color: $theme_blue;
				border: none;
				padding:10px;
				margin: 0px;
 			}
 		}
 		.logo {
 			width: 52%;
 			margin: 2em 0;
 			.icon-twitter {
 				font-size: 4em;
 				color:$theme_blue;		
 			}
 		}

 		.search {
 			width: 24%;
 			text-align: left;
 			.user {
				display: inline-block;
				margin: 2em 3em 2em 2em; 
 				padding: 2em;
 				background-image: url("../images/dog.jpg");
 				background-size: 100%;
 				border-radius: 50%;
 			}

 			form {
 				width: 60%;
 				height: 4em;
 				margin: 19px 1em;
 				display: inline-block;
 				vertical-align: top;
 				border: 1px solid $d_gray;
 				border-radius: 2em;
				::-webkit-input-placeholder {color:$d_gray;font-weight: lighter;}				
 				input {


	 				vertical-align: top;
 					margin: 10px;
 					padding:0 1em;
 					width: 50%;
 					font-size: 18px;
 					border:none;
 					background-color: $theme_white;
 				}

 				.icon-search {
 					display: inline-block;
 					display: top;
					font-size: 2em;
					color: $text-color;
					margin: 10px;

 				}
 			}
 		}
 	}

 	aside {
 		width: 24%;
 		// position: fixed;
 		// top:8em;
 		color:white;

 		&.left {
 			background-color: $theme_blue;
 			margin: 8em 0 0 0;
 			float: left;
 			
 			.info {
 				.avatar {
 				width: 30%;
 				border-radius: 50%;
				margin: 6em auto 3em auto;
 			}
 			h1 {
 				font-size: 2em;
 				font-weight: bold;
 				margin: 1em;
 				font-weight: lighter;
 			}
 			p {
 				font-size: 2em;
 				font-weight: lighter;
 				line-height: 1.5;
 				margin: 0 1em;
 			}
			
			a {
				color:white;
				display: inline-block;

			}

 			.main-page {
 				font-size: 2em;
 				font-weight: lighter;
 				margin: 2em auto 1.5em;
 			}
 			}

 			.follow {
				font-size: 2em;
				padding: 0.5em 3em;
				margin-bottom: 2em;
				background-color: $text-blue;
				border-radius: 2em;
 			}

 			.images {
 				overflow: auto;
 				img {
 					width: 33.33%;
 					float: left;

 				}
 			}
			
			.activities {
				text-align: left;
				font-size: 2em;
				padding: 2em 0 4em 1em;
				h1 {
					font-weight: lighter;
					margin-bottom: 1em;
				}

				li {
					color:$text-blue;
					margin-bottom: 1em;
					line-height: 1.2;
					a {
						color:white;
						text-decoration: underline;
					}
				}
			}

 		}

 		&.right {
 			margin: -16em 0 0 0;
 			background-color: $theme_white;
			// position: fixed;
			float: right;
			margin-top:8em;

			section {
				padding:2em 0 0 2em ;
				text-align: left;
 				font-weight: lighter;
				color: $text-color;
				font-size: 2em;
			}

 			.trend {
				h1 {
					text-transform: uppercase;
				}
				ul {
					margin: 1em 0;
					li {
						margin-bottom: 0.2em;
						a {
							color: $theme_blue;
							text-transform: capitalize;
						}
					}
				}
 			}

 			.who-to-follow {
 				padding:2em 3em 4em 2em;
				h1 {
					text-transform: uppercase;	
					display: inline;
				}

				.more {
					float: right;
					color: $theme_blue;
				}

				ul {
					li {
						margin: 1em 0;
						.avatar {
							display: inline-block;
							padding:1em;
							border-radius: 50%;
							float: left;
							margin-right: 1em;
							background-size: 100%;
							&.jobs {
								background-image: url("../images/jobs.png");
							}

							&.luo {
								background-image: url("../images/luo.png");
							}
							
							&.lei {
								background-image: url("../images/lei.png");
							}
						}
						.add {
							float: right;
							color: $text-color;
							padding: 0 3px;
							border: 1px solid $d_gray;
						}
						.name {
							display: inline-block;
							width: 60%;
							color:$text-color;
							font-size: 16px;
						}
						span {
							color: $d_gray;
							font-size: 16px;
						}


					}
				}
 			}

 		}
 	}
	
	.center {
		width: 44%;
 		float: left;
 		margin-left: 4%;
	}

 	.data {
 		margin-top: 12em;
 		margin-bottom: 3em;
 		background-color: $theme_white;

		li:hover {
			border-bottom: 0.5em solid $theme_blue;
		}

 		li {
 			border-bottom: 0.5em solid $theme_white;
		

 			p {
 				font-size: 18px;
 				&.item {
 					font-weight: lighter;
 					color: $d_gray;
 					margin-bottom: 0.5em;
 				}
 				&.num {
 					font-weight: bold;
 				}

 			}
 			padding: 2em 0 ;
 			width: 25%;
 			float: left;
 		}
 	}

 	.posts {
 		background-color: $theme_white;
 		font-size: 1.6em;
 		color:$d_gray;
		article {
			text-align: left;
			padding: 3em 5%;
			border-bottom: 1px $d_gray solid;
			overflow: auto;
			.avatar {
				padding:20px;
				border-radius: 50%;
				background-size: 100%;
				float: left;
			}
			
			.post {
				display: inline-block;
				float: left;
				margin-left: 1em;
				width: 90%;
				.before {
					margin-bottom: 0.5em;

					.name {
						color:$text-color;
						font-weight: bold;
						margin-right: 0.5em;
					}
					.account {
						color:$d_gray;
						font-weight: lighter;
					}
					.time {
						float:right;
						font-weight: lighter;
					}
				}
				p {
					color:$text-color;
					line-height: 1.2;
					font-weight: lighter;
				}
				.after {
					margin-top: 1em;
					a {	
						color: $d_gray;
						margin-right: 0.5em;
						font-size: 20px;
					}
					.icon-resize-enlarge {
						float: right;
						margin-right: 0;
					}
				}
				img {
					width: 100%;
				}
				
			}

			.me {
				background-image: url(../images/dog.jpg);
			}
			.jobs {
				background-image: url(../images/jobs.png);
			}
		}
 	}
}

::-webkit-input-placeholder {
	color: $d_gray;
	font-weight: lighter;
}


