/* line 5, ../../../.rvm/gems/ruby-2.0.0-p451/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.0.0-p451/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.0.0-p451/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.0.0-p451/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.0.0-p451/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.0.0-p451/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.0.0-p451/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.0.0-p451/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.0.0-p451/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?wyh0rg");
  src: url("../fonts/icomoon.eot?#iefixwyh0rg") format("embedded-opentype"), url("../fonts/icomoon.woff?wyh0rg") format("woff"), url("../fonts/icomoon.ttf?wyh0rg") format("truetype"), url("../fonts/icomoon.svg?wyh0rg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 12, ../sass/icon.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 26, ../sass/icon.scss */
.icon-pencil:before {
  content: "\e600";
}

/* line 29, ../sass/icon.scss */
.icon-profile:before {
  content: "\e601";
}

/* line 32, ../sass/icon.scss */
.icon-tag:before {
  content: "\e602";
}

/* line 35, ../sass/icon.scss */
.icon-barcode:before {
  content: "\e603";
}

/* line 38, ../sass/icon.scss */
.icon-user:before {
  content: "\e604";
}

/* line 41, ../sass/icon.scss */
.icon-users:before {
  content: "\e605";
}

/* line 44, ../sass/icon.scss */
.icon-rocket:before {
  content: "\e606";
}

/* line 47, ../sass/icon.scss */
.icon-numbered-list:before {
  content: "\e607";
}

/* line 50, ../sass/icon.scss */
.icon-steam:before {
  content: "\e608";
}

/* line 53, ../sass/icon.scss */
.icon-twitter:before {
  content: "\e609";
}

/* line 56, ../sass/icon.scss */
.icon-facebook:before {
  content: "\e60a";
}

/* line 5, ../sass/style.scss */
.icon-pencil {
  color: purple;
}

/* line 8, ../sass/style.scss */
.icon-profile:before {
  color: green;
}

/* line 11, ../sass/style.scss */
.icon-tag:before {
  color: green;
}

/* line 14, ../sass/style.scss */
.icon-barcode:before {
  color: DodgerBlue;
}

/* line 17, ../sass/style.scss */
.icon-user {
  color: DodgerBlue;
}

/* line 20, ../sass/style.scss */
.icon-users:before {
  color: orange;
}

/* line 23, ../sass/style.scss */
.icon-rocket:before {
  color: red;
}

/* line 26, ../sass/style.scss */
.icon-numbered-list:before {
  color: chocolate;
}

/* line 29, ../sass/style.scss */
.icon-steam {
  color: orange;
}

/* line 35, ../sass/style.scss */
body {
  font-family: Arial;
  color: white;
  text-align: center;
}

/* line 41, ../sass/style.scss */
.main {
  height: 600px;
  background-image: url("../images/street.jpg");
  background-position: center;
  background-size: 150%;
  padding: 50px;
}

/* line 50, ../sass/style.scss */
.navigation {
  margin: 0px 100px;
  float: right;
  color: white;
}
/* line 55, ../sass/style.scss */
.navigation a {
  margin: 15px;
  font-weight: lighter;
  color: white;
  text-decoration: none;
}

/* line 63, ../sass/style.scss */
a.signup {
  margin: 20px;
  padding: 8px;
  border: 1px solid white;
  border-radius: 3px;
}

/* line 70, ../sass/style.scss */
.center {
  text-align: center;
  width: 50%;
  margin: 300px auto;
}
/* line 75, ../sass/style.scss */
.center h2 {
  font-size: 30px;
  font-weight: bold;
}
/* line 80, ../sass/style.scss */
.center p {
  margin: 10px auto 20px auto;
}
/* line 84, ../sass/style.scss */
.center form {
  width: 80%;
  margin: 0 auto;
}
/* line 88, ../sass/style.scss */
.center form ::-webkit-input-placeholder {
  color: white;
}
/* line 89, ../sass/style.scss */
.center form input {
  color: white;
  height: 50px;
  font-size: 20px;
  border-style: none;
}
/* line 96, ../sass/style.scss */
.center form input[type="text"] {
  width: 73%;
  padding: 0% 2%;
  background-color: rgba(255, 255, 255, 0.3);
}
/* line 101, ../sass/style.scss */
.center form input[type="submit"] {
  width: 22%;
  padding: 0px;
  background-color: #67DDAB;
}

/* line 113, ../sass/style.scss */
.how-it-works {
  background-color: #F4F3F1;
  border-bottom: solid 1px #D9D9D9;
  padding: 0 100px 100px 100px;
}
/* line 118, ../sass/style.scss */
.how-it-works .data {
  width: 60%;
  margin: 0 auto;
  border-radius: 2px;
  padding: 1px;
  position: relative;
  top: -70px;
  margin-bottom: -50px;
}
/* line 127, ../sass/style.scss */
.how-it-works .data div {
  width: 25%;
  display: inline-block;
  box-sizing: border-box;
  background-color: #F4F3F1;
  border: 1px solid #D9D9D9;
  border-right: none;
}
/* line 136, ../sass/style.scss */
.how-it-works .data div h1 {
  padding: 40px 0px 20px;
  color: #60677A;
  font-weight: bold;
}
/* line 142, ../sass/style.scss */
.how-it-works .data div h2 {
  font-size: 18px;
  padding-bottom: 20px;
  font-weight: bold;
  color: #60677A;
}
/* line 150, ../sass/style.scss */
.how-it-works .data .last {
  border-right: 1px solid #D9D9D9;
}
/* line 155, ../sass/style.scss */
.how-it-works h1 {
  text-transform: uppercase;
  color: #C4C6CB;
  padding: 50px;
  font-size: 30px;
}
/* line 162, ../sass/style.scss */
.how-it-works hr {
  border-top: none;
  border-bottom: 2px solid #D9D9D9;
  height: 0px;
  width: 66%;
  margin-bottom: -30px;
}
/* line 170, ../sass/style.scss */
.how-it-works ul li {
  display: inline-block;
  width: 33.3%;
  vertical-align: top;
}
/* line 177, ../sass/style.scss */
.how-it-works ul li i {
  display: inline-block;
  box-sizing: border-box;
  margin: 50px;
  font-size: 100px;
  width: 30%;
  vertical-align: top;
}
/* line 186, ../sass/style.scss */
.how-it-works ul li h2 {
  margin: 0 auto;
  font-size: 30px;
  color: #60677A;
  text-transform: capitalize;
  margin-bottom: 10px;
}
/* line 194, ../sass/style.scss */
.how-it-works ul li p {
  margin-top: 20px;
  color: #9b9b9b;
}
/* line 200, ../sass/style.scss */
.how-it-works ul li .number {
  background-color: #F4F3F1;
  color: #60677A;
  font-weight: bold;
  font-size: 30px;
  border: solid #D9D9D9;
  width: 30px;
  margin: 0px auto;
  padding: 13px;
  height: 30px;
  border-radius: 50%;
}

/* line 217, ../sass/style.scss */
.why-choose-us {
  background-color: #F4F3F1;
}
/* line 220, ../sass/style.scss */
.why-choose-us h2 {
  text-transform: uppercase;
  color: #C4C6CB;
  padding: 30px;
  font-size: 30px;
}
/* line 227, ../sass/style.scss */
.why-choose-us ul {
  padding: 20px 10%;
}
/* line 230, ../sass/style.scss */
.why-choose-us ul li {
  background-color: #F4F3F1;
  padding: 20px;
  width: 40%;
  display: inline-block;
  vertical-align: top;
}
/* line 237, ../sass/style.scss */
.why-choose-us ul li i {
  display: inline-block;
  box-sizing: border-box;
  font-size: 30px;
  width: 30%;
  vertical-align: top;
}
/* line 245, ../sass/style.scss */
.why-choose-us ul li div {
  width: 65%;
  padding-right: 5%;
  display: inline-block;
}
/* line 249, ../sass/style.scss */
.why-choose-us ul li div h3 {
  text-align: left;
  font-size: 30px;
  color: #60677A;
  text-transform: capitalize;
  margin-bottom: 10px;
}
/* line 257, ../sass/style.scss */
.why-choose-us ul li div p {
  text-align: left;
  color: #9b9b9b;
  font-size: 18px;
  line-height: 150%;
}

/* line 269, ../sass/style.scss */
.people {
  color: #60677A;
}
/* line 272, ../sass/style.scss */
.people .Testimonials {
  background-color: #60677A;
  color: white;
}
/* line 277, ../sass/style.scss */
.people a {
  margin: 70px 0;
  color: #60677A;
  width: 12%;
  display: inline-block;
  padding: 10px;
  border: solid 2px #60677A;
  text-decoration: none;
}
/* line 287, ../sass/style.scss */
.people p {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 50px;
}
/* line 293, ../sass/style.scss */
.people h1 {
  font-weight: bold;
  margin-bottom: 10px;
}
/* line 298, ../sass/style.scss */
.people h2 {
  color: #C4C6CB;
}
/* line 303, ../sass/style.scss */
.people ul li {
  display: inline-block;
}
/* line 306, ../sass/style.scss */
.people ul li .middle {
  border: solid #C4C6CB 2px;
  opacity: 1;
}
/* line 311, ../sass/style.scss */
.people ul li img {
  opacity: 0.5;
  padding: 6px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 30px;
}

/* line 323, ../sass/style.scss */
.bottom-search {
  padding: 120px 20%;
  background-image: url(../images/street3.jpg);
  background-position: center;
}
/* line 328, ../sass/style.scss */
.bottom-search p {
  display: inline-block;
  color: white;
  width: 30%;
  font-size: 30px;
  font-weight: bold;
  text-transform: capitalize;
  vertical-align: top;
  padding: 10px 0;
}
/* line 339, ../sass/style.scss */
.bottom-search form {
  vertical-align: top;
  width: 70%;
  display: inline-block;
}
/* line 344, ../sass/style.scss */
.bottom-search form ::-webkit-input-placeholder {
  color: gray;
}
/* line 345, ../sass/style.scss */
.bottom-search form input {
  color: white;
  height: 50px;
  font-size: 20px;
  border-style: none;
}
/* line 352, ../sass/style.scss */
.bottom-search form input[type="text"] {
  width: 73%;
  padding: 0% 2%;
  color: black;
  border-radius: 2px 0px 0px 2px;
}
/* line 360, ../sass/style.scss */
.bottom-search form input[type="submit"] {
  width: 22%;
  padding: 0px;
  background-color: #67DDAB;
  border-radius: 0px 2px 2px 0px;
}

/* line 373, ../sass/style.scss */
footer {
  padding: 40px;
  background-color: #F4F3F1;
}
/* line 377, ../sass/style.scss */
footer .links {
  display: inline-block;
  width: 60%;
}
/* line 380, ../sass/style.scss */
footer .links a {
  text-decoration: none;
  font-size: 20px;
  padding: 5px;
  color: #B5B5B5;
}
/* line 388, ../sass/style.scss */
footer .social {
  display: inline-block;
  width: 20%;
  margin-left: 20%;
}
/* line 392, ../sass/style.scss */
footer .social i {
  font-size: 20px;
  margin: 10px;
}
/* line 398, ../sass/style.scss */
footer .social .icon-facebook {
  color: #4f75b5;
}
/* line 402, ../sass/style.scss */
footer .social .icon-twitter {
  color: #1fb5e8;
}
