/* line 5, ../../../.rvm/gems/ruby-2.0.0-p451/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.0.0-p451/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.0.0-p451/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.0.0-p451/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.0.0-p451/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.0.0-p451/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.0.0-p451/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.0.0-p451/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.0.0-p451/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?-qfm1y0");
  src: url("../fonts/icomoon.eot?#iefix-qfm1y0") format("embedded-opentype"), url("../fonts/icomoon.woff?-qfm1y0") format("woff"), url("../fonts/icomoon.ttf?-qfm1y0") format("truetype"), url("../fonts/icomoon.svg?-qfm1y0#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 12, ../sass/icon.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 26, ../sass/icon.scss */
.icon-pencil:before {
  content: "\e600";
}

/* line 29, ../sass/icon.scss */
.icon-profile:before {
  content: "\e601";
}

/* line 32, ../sass/icon.scss */
.icon-tag:before {
  content: "\e602";
}

/* line 35, ../sass/icon.scss */
.icon-barcode:before {
  content: "\e603";
}

/* line 38, ../sass/icon.scss */
.icon-user:before {
  content: "\e604";
}

/* line 41, ../sass/icon.scss */
.icon-users:before {
  content: "\e605";
}

/* line 44, ../sass/icon.scss */
.icon-rocket:before {
  content: "\e606";
}

/* line 47, ../sass/icon.scss */
.icon-numbered-list:before {
  content: "\e607";
}

/* line 50, ../sass/icon.scss */
.icon-steam:before {
  content: "\e608";
}

/* line 53, ../sass/icon.scss */
.icon-mail:before {
  content: "\e60b";
}

/* line 56, ../sass/icon.scss */
.icon-feather:before {
  content: "\e60c";
}

/* line 59, ../sass/icon.scss */
.icon-forward:before {
  content: "\e60d";
}

/* line 62, ../sass/icon.scss */
.icon-share:before {
  content: "\e60e";
}

/* line 65, ../sass/icon.scss */
.icon-star:before {
  content: "\e60f";
}

/* line 68, ../sass/icon.scss */
.icon-thumbsup:before {
  content: "\e610";
}

/* line 71, ../sass/icon.scss */
.icon-search:before {
  content: "\e611";
}

/* line 74, ../sass/icon.scss */
.icon-bell:before {
  content: "\e612";
}

/* line 77, ../sass/icon.scss */
.icon-link:before {
  content: "\e613";
}

/* line 80, ../sass/icon.scss */
.icon-plus:before {
  content: "\e614";
}

/* line 83, ../sass/icon.scss */
.icon-cycle:before {
  content: "\e615";
}

/* line 86, ../sass/icon.scss */
.icon-resize-enlarge:before {
  content: "\e616";
}

/* line 89, ../sass/icon.scss */
.icon-ellipsis:before {
  content: "\e617";
}

/* line 92, ../sass/icon.scss */
.icon-twitter:before {
  content: "\e609";
}

/* line 95, ../sass/icon.scss */
.icon-facebook:before {
  content: "\e60a";
}

/* line 15, ../sass/theprestige.scss */
a {
  text-decoration: none;
}

/* line 19, ../sass/theprestige.scss */
body {
  font-family: courier;
  font-size: 62.5%;
  text-align: center;
  color: #58575F;
  background-color: #F2EEE8;
}
/* line 27, ../sass/theprestige.scss */
body .hero {
  height: 85em;
  background-image: url(../images/prestige/hero.png);
  background-position: center;
  background-size: 100%;
  text-transform: uppercase;
  padding: 1px 0 1px 0;
  border-bottom: 1px solid #58575F;
}
/* line 35, ../sass/theprestige.scss */
body .hero h2 {
  margin-top: 670px;
  margin-bottom: 0px;
  font-size: 2em;
}
/* line 40, ../sass/theprestige.scss */
body .hero h1 {
  font-size: 5em;
  color: white;
}
/* line 41, ../sass/theprestige.scss */
body .hero h1 span {
  font-weight: lighter;
  color: #58575F;
  padding-right: 20px;
}
/* line 51, ../sass/theprestige.scss */
body .cast {
  background: #000000;
  padding: 0 2% 10em;
  overflow: auto;
  border-bottom: 1px solid #58575F;
}
/* line 56, ../sass/theprestige.scss */
body .cast h1 {
  padding: 1.5em 0;
  font-size: 5em;
  font-family: courier;
}
/* line 62, ../sass/theprestige.scss */
body .cast .person {
  background: #000000;
  float: left;
  box-sizing: border-box;
  padding: 0 2%;
  width: 25%;
}
/* line 69, ../sass/theprestige.scss */
body .cast .person .name {
  color: white;
  font-size: 2em;
  padding-bottom: 2em;
  font-weight: lighter;
  font-family: courier;
}
/* line 76, ../sass/theprestige.scss */
body .cast .person .picture {
  height: 43em;
  background-size: 100%;
  background-position: center;
  background-repeat: none;
}
/* line 83, ../sass/theprestige.scss */
body .cast .person .jackman {
  background-image: url(../images/prestige/jackman2.png);
}
/* line 87, ../sass/theprestige.scss */
body .cast .person .bale {
  background-image: url(../images/prestige/bale2.png);
}
/* line 91, ../sass/theprestige.scss */
body .cast .person .caine {
  background-image: url(../images/prestige/caine2.png);
}
/* line 95, ../sass/theprestige.scss */
body .cast .person .johansson {
  background-image: url(../images/prestige/johansson2.png);
}
/* line 101, ../sass/theprestige.scss */
body .lines {
  background: #000000;
  border-bottom: 1px solid #58575F;
  font-family: courier;
}
/* line 105, ../sass/theprestige.scss */
body .lines h1 {
  padding: 1.5em 0;
  font-size: 5em;
}
/* line 110, ../sass/theprestige.scss */
body .lines div {
  width: 70%;
  margin: 0 auto 10em;
  height: 600px;
  background-size: 100%;
  position: relative;
}
/* line 116, ../sass/theprestige.scss */
body .lines div p {
  color: white;
  font-size: 2em;
}
/* line 122, ../sass/theprestige.scss */
body .lines .magic {
  background-image: url(../images/prestige/magic.jpg);
}
/* line 124, ../sass/theprestige.scss */
body .lines .magic p {
  width: 40%;
  position: absolute;
  right: 100px;
  top: 20px;
}
/* line 133, ../sass/theprestige.scss */
body .lines .sacrifice {
  background-image: url(../images/prestige/sacrifice.jpg);
}
/* line 135, ../sass/theprestige.scss */
body .lines .sacrifice p {
  width: 40%;
  position: absolute;
  left: 60px;
  bottom: 20px;
}
/* line 145, ../sass/theprestige.scss */
body .lines .scream {
  background-image: url(../images/prestige/scream.jpg);
}
/* line 147, ../sass/theprestige.scss */
body .lines .scream p {
  width: 40%;
  position: absolute;
  left: 60px;
  bottom: 150px;
}
/* line 156, ../sass/theprestige.scss */
body .lines .obsession {
  background-image: url(../images/prestige/obsession.jpg);
}
/* line 158, ../sass/theprestige.scss */
body .lines .obsession p {
  width: 40%;
  position: absolute;
  left: 60px;
  top: 80px;
}
/* line 167, ../sass/theprestige.scss */
body .lines .watching {
  background-image: url(../images/prestige/watching.jpg);
}
/* line 169, ../sass/theprestige.scss */
body .lines .watching p {
  width: 40%;
  position: absolute;
  left: 60px;
  bottom: 100px;
}
/* line 179, ../sass/theprestige.scss */
body .director {
  position: relative;
  background-color: #000000;
  height: 40em;
}
/* line 184, ../sass/theprestige.scss */
body .director h1 {
  position: absolute;
  top: 150px;
  left: 270px;
  padding: 0.3em 0;
  font-size: 6em;
  color: white;
  z-index: 1;
}
/* line 186, ../sass/theprestige.scss */
body .director h1 span {
  font-size: 40px;
  font-weight: lighter;
}
/* line 201, ../sass/theprestige.scss */
body .director div {
  float: left;
  width: 20%;
  height: 40em;
  background-color: #000000;
  background-size: 100%;
  background-position: center;
  opacity: 0.4;
}
/* line 209, ../sass/theprestige.scss */
body .director div h2 {
  color: white;
  padding-top: 330px;
  font-size: 2em;
  text-transform: capitalize;
}
/* line 216, ../sass/theprestige.scss */
body .director div h3 {
  padding-top: 10px;
  font-size: 1.5em;
  color: white;
}
/* line 223, ../sass/theprestige.scss */
body .director .interstellar {
  background-image: url(../images/prestige/interstellar.jpg);
}
/* line 227, ../sass/theprestige.scss */
body .director .the_dark_knight_rises {
  background-image: url(../images/prestige/the_dark_knight_rises.jpg);
}
/* line 231, ../sass/theprestige.scss */
body .director .inception {
  background-image: url(../images/prestige/inception.jpg);
}
/* line 235, ../sass/theprestige.scss */
body .director .the_dark_knight {
  background-image: url(../images/prestige/the_dark_knight.jpg);
}
/* line 238, ../sass/theprestige.scss */
body .director .batman_begins {
  background-image: url(../images/prestige/batman_begins.jpg);
}
